@use '../design';

.reviewWriter {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 15px;
    border: 1px solid design.$Paragraph;
    border-radius: 10px;

    .infoBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profilePicture {
            height: 60px;
            width: 60px;
            margin: 0 10px;
            border-radius: 50%;
            overflow: hidden;
        }

        .pseudo {
            text-align: center;
            margin: 10px 0;
        }

        .rank {
            color: design.$Paragraph;
            display: inline-block;
            text-align: center;
        }
    }

    .reviewBox {
        display: flex;
        flex-direction: column;
        width: 100%;

        .title {
            margin: 0 20%;
            text-align: center;
            background: transparent;
            border: 1px solid design.$Paragraph;
            border-radius: 10px;
            font-size: 20px;
            color: design.$Headline;
        }

        .note {
            display: inline-block;
            text-align: center;
            margin: 10px 0;

            .starButton{
                border: none;
                background: transparent;
                cursor: pointer;


                .star {
                    vertical-align: middle;
                    width: 25px;
                    fill: design.$Secondary;
                    transition: design.$transitionShort;

                    &:hover {
                        fill: design.$Tertiary;
                    }
                }
    
                .filled {
                    fill: design.$Highlight;
                }
            }
        }

        .content {
            background: transparent;
            border: 1px solid design.$Paragraph;
            border-radius: 10px;
            font-size: 16px;
            color: design.$Headline;
        }

        .submit {
            margin: 1em 0;
            background: transparent;
            border: 1px solid design.$Paragraph;
            border-radius: 10px;
            font-size: 16px;
            color: design.$Headline;
            cursor: pointer;
            transition: design.$transitionShort;

            &:hover {
                background: design.$Tertiary;
            }
        }

        .infos {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            color: design.$Paragraph;
        }
    }
}