
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .about{
    padding-top: 5%;
    margin-bottom: 10%;
  }

  
  
  .column {
    float: left;
    width: 33%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 #7f5af0;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #7f5af0;
    border-radius: 15px;
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 4px 8px 0 #2cb67d;
    background-color: #2cb67d;
    transition: 0.3s;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #7f5af0;
    color: white;
    margin-bottom: 5%;
  }
  
  .container-card {
    margin: 2%;
    padding: 0 16px;
    padding-bottom: 2%;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #010101;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .PP{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .title-team{
    text-align: center;
  }