@use '../design';

$transition: 0.5s;
$transitionShort: 0.3s;

.card {
    text-align: left;
    position: relative;
    width: 240px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0,0,0, 0.25);
    transition: box-shadow $transition;
    color: design.$Headline;
    font-family: design.$font_title;

    a {
        padding: 0;
        text-align: left;
        align-items: center;
    }

    .poster {
        position: relative;

        img{
            width: 100%;
            transition: $transition;
        }
    }

    .poster::before {
        content: '';
        position: absolute;
        bottom: -100px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000 50%, transparent);
        transition: $transition;
        z-index: 1;
    }

    .description {
        position: absolute;
        bottom: -115px;
        padding: 16px;
        z-index: 2;
        transition: $transition;

        .title {
            font-size: 20px;
        }

        .rating {
            padding: 2px;
            font-size: 18px;

            svg {
                width: 18px;
                fill: design.$Highlight;
            }
        }

        .infos {
            margin-top: 3px;
            font-size: 15px;
            
            .reviewCount::after {
                content: ' | ';
            }
            .hours::after {
                content: 'h';
            }
            .minutes::after {
                content: 'mins | ';
            }
        }

        .genres {
            position: relative;
            margin-top: 3px;
            margin-left: -2px;
            
            .genre {
                margin: 2px;
                display: inline-block;
                white-space: nowrap;
                padding: 2px 5px;
                background: design.$Highlight;
                border-radius: 5px;
                transition: $transitionShort;
            }
        }

        .synopsis {
            margin-top: 10px;
            height: 100px;
            overflow: hidden;
            .overview {
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                color: design.$Paragraph;
                font-size: 14px;
            }
        }
    }
}

.card:hover {
    box-shadow: 0px 15px 50px rgba(0,0,0, 0.5);

    .poster {
        img{
            transform: translateY(-25px);
            filter: blur(3px);
        }
    }
    .poster::before {
        bottom: 0px;
    }
    
    .description {
        bottom: 0px;

        .genres:hover {
            .genre:hover {
                background: design.$Tertiary;
            }
        }
    }
}