.titles {
  display:inline;
  margin-left: 10%;
  margin-right: 10%;
}

.presentation{
  position: relative;
  padding-top: 12%;
  padding-bottom: 12%;
  color: #fffffe;
  background: no-repeat url("/images/accueil/background2.jpg");
  background-size: 100% 100%;
}

.title h1 {
  font-size:150%; 
  font-weight:700;  
  letter-spacing:1px; 
  text-transform:uppercase;
  padding-left: 5%;
  margin:auto; 
  white-space:nowrap; 
  padding-bottom:13px;
}
.title h1:before {
    background-color: #7f5af0;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.title h1:after {
    background-color: #7f5af0;
    content: '';
    display: block;
    position:absolute; 
    right:0; 
    bottom:0;
    margin-bottom: 0.25em;
}


.item-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.item{
  background-color: #010101;
  border: solid #7f5af0;
  border-radius: 0.5em;
  transition: 0.3s;
  width: 100%;
  display: inline-block;
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.item:hover{
  border: solid #2cb67d;
  box-shadow: 0px 0px 10px 10px #2cb67d;
  transition: 0.3s;
}



.user{
  position: relative;

}

.text-lien-item{
  font-size: 1.5vw;
  color: #7f5af0;
  text-align: center;
  transition: 0.3s;
}

.item:hover .text-lien-item {
  transition: 0.3s;
  color: #2cb67d;

}
.list-item{
  display: inline;
}