.titles {
  display:inline;
  margin-left: 10%;
  margin-right: 10%;
}

.presentation{
  position: relative;
  padding-top: 12%;
  padding-bottom: 12%;
  color: #fffffe;
  background: no-repeat url("/images/accueil/background2.jpg");
  background-size: 100% 100%;
}

.title h1 {
  font-size:150%; 
  font-weight:700;  
  letter-spacing:1px; 
  text-transform:uppercase;
  padding-left: 5%;
  margin:auto; 
  white-space:nowrap; 
  padding-bottom:13px;
}
.title h1:before {
    background-color: #7f5af0;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.title h1:after {
    background-color: #7f5af0;
    content: '';
    display: block;
    position:absolute; 
    right:0; 
    bottom:0;
    margin-bottom: 0.25em;
}