@use '@/components/design';

$transition: 0.5s;

.searchBar {
    display: flex;
    justify-content: center;

    .search_form {
        display: flex;
        justify-content: center;
        background-color: design.$Highlight;
        height: 40px;
        width: 560px;
        border-radius: 10px;
        transition: $transition;

        &:hover {
          background-color: design.$Tertiary;
        }
  
        .searchTerm {
            padding: 0;
            margin-left: 10px;
            font-size: 16px;
            font-family: design.$font_title;
            color: design.$Main;
            background-color: transparent;
            width: 500px;
            border: 0;
            outline: none;
            
            select, textarea {
              color: design.$Main;
            }
          }
          .searchTerm::placeholder{
            color: rgba(design.$Main, 50%);
          }
    
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: 20px;
            width: 40px;
            height: 40px;
            transition: $transition;
            border: 0;
            cursor: pointer;
    
            svg {
                width: 20px;
                fill: design.$Button_text;
                transition: $transition;
            }
        }
    }
}