@use '../design';

$transition: 1s;
$transitionButton: 0.5s;

.movieList {
    padding: 0px;
    width: 100%;
    display: grid;
    place-items: center center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;

    h1 {
        font-size: 2em;
        font-family: design.$font_title;
        text-align: center;
    }

    .cardList {
        grid-auto-flow: column;
        display: grid;
        place-items: center center;
        gap: 1.5%;

        .button {
            background-color: design.$Button;
            border-radius: 1.5em;
            width: 125%;
            height: 50%;
            transition: $transitionButton;
            text-align: center;
            cursor: pointer;

            svg {
                margin-top: 60px;
                width: 35px;
                fill: design.$Button_text;
                transition: $transitionButton;
            }
        }
    
        .cardBox{
            overflow-x: hidden;
            background-color: design.$Background;
            border-radius: 20px;
            padding: 10px;
        
            .cardElements{
                display: grid;
                grid-auto-flow: column;
                gap: 10px;
                overscroll-behavior-inline: contain;
                transition: $transition;
            }
        }
    }
}

.movieList:hover {
    .cardList:hover {
        .button:hover {
            height: 55%;
            background-color: design.$Tertiary;
    
            svg {
                width: 45px;
                fill: design.$Button_text;
            }
        }
    }
}