@use '../design';

$transition: 0.3s;

.navBar {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 7%;
    margin-bottom: 5%;
    position: fixed;
    background-color: design.$Stroke;
    border-bottom: 0.5em solid #7f5af0;
    transition: $transition;
    font-family: design.$font_title;
    color: #fffffe;
    font-size: 140%;

    .logo{
        flex: 1;
        display: block;

        a {
            margin: 0;
            padding: 1px 10px;
            float: left;
            justify-content: center;
            align-items: center;
            color: design.$Main;
            text-align: center;
            text-decoration: none;
        }
    }

    .searchBar {
        flex: 1;
    }

    .user {
        flex: 1;
        display: block;

        a {
            height: 100%;
            float: right;
        }
    }

    a {
        transition: $transition;
    }
}

.navBar:hover {
    border-bottom: 0.5em solid design.$Tertiary;

    a:hover {
        background-color: design.$Tertiary;
    }
}

.active {
    background-color: design.$Highlight;
}
.active:hover {
    background-color: design.$Tertiary;
}

.user-account{
    height: 50%;
}