@use '../design';

$transition: 0.3s;

.navBar {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: fixed;
    margin-bottom: 10%;
    overflow: hidden;
    background-color: design.$Stroke;
    border-bottom: 0.5em solid #7f5af0;
    transition: $transition;
    color: #fffffe;

    .logo{
        flex: 1;
        display: block;

        a {
            float: left;
            justify-content: center;
            color: design.$Main;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    }

    .searchBar {
        flex: 1;
    }

    .user {
        flex: 1;
        display: block;

        a {
            float: right;
        }
    }

    a {
        transition: $transition;
    }
}

.navBar:hover {
    border-bottom: 0.5em solid design.$Tertiary;

    a:hover {
        background-color: design.$Tertiary;
    }
}

.active {
    background-color: design.$Highlight;
}
.active:hover {
    background-color: design.$Tertiary;
}