$Background : #16161a;
$Headline : #fffffe ;
$Paragraph : #94a1b2;
$Button : #7f5af0;
$Button_text : #fffffe;

$Stroke : #010101;
$Main : #fffffe;
$Highlight : #7f5af0;
$Secondary : #72757e;
$Tertiary : #2cb67d;

$font_title: 'Helvetica', 'Arial', sans-serif;

$transition: 0.5s;
$transitionShort: 0.3s;