@use '@/components/design';

$transition: 0.5s;

body {
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

.presentation {
  margin: 20px 25%;
  font-family: design.$font_title;
  min-height: 100vh;

  .primary {
    display: flex;
    flex-direction: row;
    gap: 30px;

    img {
      height: 100%;
      width: 240px;
    }

    .mainDescription {
      font-size: 20px;

      h1 {
        margin-top: 5px;
      }

    }
  }

  .secondary {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;

    .rating {
      padding: 10px;
      width: 200px;
      text-align: center;

      svg {
        width: 50px;
        fill: design.$Highlight;
      }

      h2 {
        display: inline;
      }
    }

  }

  .synopsis {
    margin: 20px 0;

    h3 {
      margin-left: 50px;
    }

  }

  .reviewWriterBox {
    padding: 20px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


}