@use '@/components/design';

$transition: 0.3s;

body {
  padding: 0;
  margin: 0;
}

.searchPage {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: design.$font_title;

  .searchOptions {
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    .searchForm {
      display: flex;
      justify-content: center;
      background-color: design.$Highlight;
      height: 40px;
      width: 200px;
      border-radius: 10px;
      transition: $transition;
      
      .searchTerm {
        padding: 0;
        margin-left: 10px;
        font-size: 16px;
        font-family: design.$font_title;
        color: design.$Main;
        background-color: transparent;
        width: 150px;
        border: 0;
        outline: none;
        
        select, textarea {
          color: design.$Main;
        }
      }
      .searchTerm::placeholder{
        color: rgba(design.$Main, 50%);
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        transition: $transition;
        border: 0;

        svg {
            width: 20px;
            fill: design.$Button_text;
            transition: $transition;
        }
      }
    }

    .sortBySelector {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-self: center;
      width: fit-content;
      gap: 5px;

      .sort {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        background-color: design.$Secondary;
        transition: $transition;
        border: 0;

        svg {
          width: 23px;
          fill: design.$Headline;
        }
      }
        
      .actif {
        background-color: design.$Highlight;
      }

      .order {
        margin-left: 10px;
        background-color: design.$Highlight;
      }
    }

    .genresSelector {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      
      .genre {
        width: 120px;
        border-radius: 5px;
        background-color: design.$Secondary;
        color: design.$Headline;
        border: 0;
        transition: $transition;
        font-family: design.$font_title;
        font-size: 16px;
      }

      .actif {
        background-color: design.$Highlight;
      }
    }
  }

  .searchPages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2 {
      text-align: center;
    }
    
    .searchResults {
      padding: 10px;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 10px;
      justify-content: left;
      width: 100%;
    }
  }
}

.searchPage:hover {
  .searchOptions:hover {
    .searchForm:hover {
      background-color: design.$Tertiary;
      button:hover {
        svg {
          width: 24px;
        }
      }
    }
    .genresSelector:hover {
      .genre:hover {
        background-color: design.$Tertiary;
      }
    }
    .sortBySelector:hover {
      .nonActif:hover {
        background-color: design.$Tertiary;
      }
      .order:hover {
        background-color: design.$Tertiary;
      }
    }
    .pageSizeSelector:hover {
      opacity: 100%;
    }
  }
}