@use '@/components/design';

$transition: 0.5s;

body {
  padding: 0;
  margin: 0;
}

.search {
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .searchResults {
    background-color: design.$Stroke;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: left;
    width: 100%;
  }
  
  h2 {
    margin: 0;
    text-align: center;
  }
}