@use '@/components/design';

$transition: 0.5s;

body {
  padding: 0;
  margin: 0;
}

.search {
  padding-top: 20px;
  min-height: 100vh;

  .searchResults {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    grid-gap: 10px;
    justify-content: center;
    width: 100%;
  }
  
  h2 {
    margin: 0;
    text-align: center;
  }
}