@use '@/components/design';

$transition: 0.5s;

html,
body {
  padding: 0;
  margin: 0;
}

.search {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  padding-top: 20px;

  .searchBarBox {
    display: flex;
    justify-content: center;

    .searchBar {
      display: flex;
      justify-content: center;
      background-color: design.$Highlight;
      height: 40px;
      width: 540px;
      border-radius: 20px;
      transition: $transition;

      .searchTerm {
        margin-left: 20px;
        font-size: 16px;
        font-family: design.$font_title;
        color: design.$Main;
        background-color: transparent;
        width: 500px;
        border: 0;
        outline: none;
        
        select, textarea {
          color: design.$Main;
        }
      }
      input::placeholder{
        color: design.$Main;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border-radius: 20px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        transition: $transition;

        svg {
            width: 20px;
            fill: design.$Button_text;
            transition: $transition;
        }
      }
    }
  }

  .searchResults {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 240px);
    grid-gap: 10px;
    justify-content: center;
  }
}


.search:hover {
  .searchBar:hover {
    background-color: design.$Tertiary;

    .button:hover {
      svg {
        width: 24px;
      }
    }
  }
}