@use '@/components/design';

$transition: 0.5s;

.account {
  margin: 20px 25%;
  margin-top: 5%;
  font-family: design.$font_title;
  text-align: center;

  .upload-avatar{
    text-align: left;
    margin-top: 2%;
  }

  .accountInfos{
    text-align: left;
    display: flex;

  }

  .reviewBox {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


}